.wrapper,
.menu,
.footer__grid {
  margin: 0 auto;
  max-width: 1000px;
}

body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  line-height: 2;
  font-weight: 300;
  margin: 0;
  color: #031107;
}

.section {
  margin-top: 80px;
}

h1, h2, h3, h4 {
  margin: 0 0 20px 0;
}

.heading-h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

.heading-h2 {
  text-transform: uppercase;
  font-size: 24px;
}
.heading-h2--glide {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.heading-h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.heading-h3--margin {
  margin-top: 80px;
}

.heading-h4 {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 40px;
  font-weight: 500;
  color: #5C6F68;
}

.callout {
  font-weight: 500;
  margin-top: 40px;
}

.section__column-flex {
  display: flex;
  gap: 40px;
  text-align: justify;
}
.section__column-flex--reverse {
  flex-direction: row-reverse;
  margin-top: 80px;
}

.section__column {
  flex-basis: 50%;
}
.section__column--basis {
  flex-basis: 30%;
}
.section__column--form {
  flex-basis: 64%;
}

.glide__slide img {
  width: 100%;
}

.logo {
  font-family: "Sacramento", cursive;
  font-size: 60px;
  margin: 0;
  color: #031107;
  text-decoration: none;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 2em;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block;
  border: 1px solid #C5BBAC;
  color: #C5BBAC;
  transition: opacity 150ms ease, border 300ms ease-in-out;
}
.button:hover {
  background-color: #C5BBAC;
  color: white;
}
.button--margin {
  margin-top: 20px;
}
.button--form {
  background-color: white;
}

.form {
  width: 100%;
}
.form__field {
  margin-bottom: 20px;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.form__field:hover .form__label, .form__field:focus .form__label {
  transform: translateY(-10px);
}
.form__field:hover .form__input {
  border-color: #5C6F68;
}
.form__field > .form__input:focus + .form__label {
  transform: translateY(-10px);
}
.form__field > .form__input:focus {
  border-color: #5C6F68;
  outline-style: none;
}
.form__field > .form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-10px);
}
.form__field > .form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-10px);
}
.form__label {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  padding-left: 20px;
  margin-top: -10px;
  text-transform: uppercase;
  color: #5C6F68;
  font-size: 12px;
  transition: 0.2s;
}
.form__label--textarea {
  top: 13%;
}
.form__input {
  width: 100%;
  border: 1px solid #C5BBAC;
  padding: 30px 0 10px 20px;
  font-size: 12px;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}
.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.google-map--big {
  padding-bottom: 25%;
  margin-top: 40px;
}

.glide__slide {
  text-align: center;
}

.glide__card {
  text-decoration: none;
  color: #031107;
  display: block;
  padding: 20px;
  height: auto;
  overflow: scroll;
}
.glide__card:hover {
  transition: 0.3s;
  background-color: #C5BBAC;
}
.glide__card:hover .article__image {
  box-shadow: 43px 43px 0 -40px #F3F7F8;
  transform: scale(1.05);
}

.glide__arrow {
  color: #C5BBAC;
  padding: 10px;
  border: 1px solid #C5BBAC;
  font-weight: 500;
}
.glide__arrow:hover {
  background-color: #C5BBAC;
  color: white;
}

.header {
  height: 40vh;
  margin: 0;
  background-image: url(/images/background-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  box-shadow: inset 0 0 900px rgba(255, 255, 255, 0.196);
  border-bottom: 10px solid #C5BBAC;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.menu__item {
  text-transform: uppercase;
  text-decoration: none;
  color: #031107;
  padding: 20px;
  font-size: 16px;
  position: relative;
}
.menu__item::after {
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #C5BBAC;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu__item::before {
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #C5BBAC;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu__item:hover::after {
  width: 70%;
  left: 15%;
}
.menu__item:hover::before {
  width: 70%;
  left: 15%;
}
.menu__item:hover {
  color: #C5BBAC;
}

.menu-flex {
  display: flex;
}

.section-intro__image {
  width: 100%;
}

.frame-left {
  box-shadow: -43px -43px 0 -40px #C5BBAC;
}

.frame-right {
  box-shadow: 43px 43px 0 -40px #C5BBAC;
}

.footer {
  background-color: #5C6F68;
  color: white;
  margin-top: 80px;
  padding: 40px 0;
  font-size: 12px;
}
.footer__grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 3fr;
  grid-auto-flow: dense;
  gap: 40px;
}
.footer__logo {
  line-height: 0.8;
  margin-top: 80px;
  color: #F3F7F8;
}
.footer__text--strong {
  font-weight: 500;
}
.footer__text--a {
  text-decoration: none;
  color: #C5BBAC;
}
.footer__text--a:hover {
  color: #F3F7F8;
}
.footer__text--author {
  margin: 0;
  font-size: 12px;
  color: #F3F7F8;
}

.section-ofarme__image {
  width: 100%;
}

.cards__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px 40px;
}

.card {
  text-align: center;
  position: relative;
}
.card__image {
  width: 100%;
  border-radius: 50%;
}
.card__name {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
}
.card__name--small {
  font-size: 12px;
  margin: 0;
}
.card__name--price {
  display: inline-block;
  border-bottom: 1px solid #C5BBAC;
  border-top: 1px solid #C5BBAC;
}

.border::after {
  content: "";
  border: 1px solid #C5BBAC;
  width: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  padding-bottom: 100%;
}

.border--a::after {
  top: 3%;
  left: -3%;
}

.border--b::after {
  top: -3%;
  left: 3%;
}

.border--c::after {
  top: 3%;
  left: 3%;
}

.section-kontakt__a {
  color: #5C6F68;
  text-decoration: none;
}

.section-kontakt .section-kontakt__text {
  margin-bottom: 40px;
  margin-top: 0;
}

.section-column .heading-h3 {
  margin-bottom: 20px;
}

.article__image {
  width: 100%;
}

.article__content {
  display: flex;
  gap: 40px;
  margin: 40px 0;
}

.article__perex {
  margin: 0 0 40px 0;
}
.article__perex--glide {
  text-align: justify;
}

.article__text {
  margin: 0 0 20px 0;
  text-align: justify;
}

.article__title {
  margin-bottom: 0;
}

.article__meta {
  margin-top: 0;
  font-size: 12px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 80px;
}
.article-grid__image {
  grid-column: 1/2;
}
.article-grid__text {
  grid-column: 2/5;
}
.article-grid__text .heading-h2 {
  margin-bottom: 0;
}
.article-grid__text .article__meta {
  margin-bottom: 20px;
}

.form-a {
  display: block;
  color: white;
  background-color: #5C6F68;
  padding: 20px;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.form-a:hover {
  color: #C5BBAC;
}/*# sourceMappingURL=style.css.map */