@use "variables";



.wrapper,
.menu,
.footer__grid {
    margin: 0 auto;
    max-width: 1000px;
}

body {
    font-size: 18px;
    font-family: variables.$font-main;
    line-height: 1.8;
    font-weight: 300;
    margin: 0;
    color: variables.$color-dark;
}


.section {
    margin-top: variables.$spacer-section;
}


h1, h2, h3 {
    margin: 0 0 variables.$spacer-half 0;
}