@use "variables";



.wrapper,
.menu,
.footer__grid {
    margin: 0 auto;
    max-width: 860px;

    @media screen and (min-width: 768px){
        max-width: 960px;
    }
}

body {
    font-size: variables.$font-size-normal;
    font-family: variables.$font-main;
    line-height: 2;
    font-weight: 300;
    margin: 0;
    color: variables.$color-dark;
}


.section {
    padding: 0 variables.$spacer-half;
    margin-top: variables.$spacer;

    @media screen and (min-width: 768px){
        margin-top: variables.$spacer-section;
    }

    @media screen and (min-width: 960px){
        padding: 0;
    }

    &-intro {
        @media screen and (min-width: 768px){
            margin-top: variables.$spacer-section;
        }
    }

    &-ofarme {
        text-align: center;
        
        @media screen and (min-width: 768px){
            text-align: justify;
        }
    }

    &:first-child {
        margin-top: variables.$spacer-half;

        @media screen and (min-width: 768px){
            margin-top: variables.$spacer-section;
        }
    }
    
}

.no-padding {
    padding: 0;
}



// nadpisy
h1, h2, h3, h4 {
    margin: 0 0 variables.$spacer-half 0;
}


.heading-h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;

    @media screen and (min-width: 768px){
        font-size: 32px;
    }
}



.heading-h2 {
    text-transform: uppercase;
    font-size: 18px;

    &--glide {
        font-size: 20px;
        margin: variables.$spacer-half 0 0 0;
    }

    @media screen and (min-width: 768px){
        font-size: 24px;
    }
}


.heading-h3 {
    font-size: 16px;
    text-transform: uppercase;

    &--margin {
        margin-top: variables.$spacer-section;
    }
}

.heading-h4 {
    text-transform: uppercase;
    font-size: variables.$font-size-small;
    margin-top: variables.$spacer;
    font-weight: 500;
    color: variables.$color-first;
}


.callout {
    font-weight: 500;
    margin-top: variables.$spacer;
}




// obecný flexbox
.section__column-flex {
    display: flex;
    flex-direction: column;
    gap: variables.$spacer-half;
    text-align: justify;

    @media screen and (min-width: 768px){
        flex-direction: row;
        gap: variables.$spacer;
    }
    

    &--reverse {
        @media screen and (min-width: 768px){
            flex-direction: row-reverse;
            margin-top: variables.$spacer-section;
        }
    }
}


.section-intro__image {
    &--hidden {
        display: none;

        @media screen and (min-width: 768px){
            display: inline;
        }
    }

    &--margin {
        margin-top: variables.$spacer;

        @media screen and (min-width: 768px){
            margin: 0;
        }
    }
}




.section__column {
    flex-basis: 50%;
    text-align: center;

    @media screen and (min-width: 768px){
        text-align: justify;
    }

    &--basis {
        flex-basis: 30%;
        text-align: center;

        @media screen and (min-width: 768px){
            text-align: justify;
        }
    }

    &--form {
        flex-basis: 64%;

    }
}




.glide__slide img {
    width: 100%;
}



.text-justify {
    text-align: justify;
}
