@use "variables";

.logo {
    font-family: variables.$font-logo;
    font-size: 60px;
    margin: 0;
}


.button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 2em;
    // border-radius: 20px;
    font-size: variables.$font-size-small;
    font-weight: 500;
    letter-spacing: 2px;

    display: inline-block;

    border: 1px solid variables.$color-second;
    color: variables.$color-second;
    transition: 0.2s;
    
    
    &:hover{
        background-color: variables.$color-second;
        color: white;
    }
    
    
}