@use "variables";

.logo {
    font-family: variables.$font-logo;
    font-size: 60px;
    margin: 0;
    color: variables.$color-dark;
    text-decoration: none;
}


// tlačítka
.button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 2em;
    font-size: variables.$font-size-small;
    font-weight: 500;
    letter-spacing: 2px;
    

    display: block;
      @media screen and (min-width: 768px){
        display: inline-block;
      }

    border: 1px solid variables.$color-second;
    color: variables.$color-second;
    transition:opacity 150ms ease, border 300ms ease-in-out;
    
    
    &:hover{
        background-color: variables.$color-second;
        color: white;
    }
    
    &--margin {
        margin-top: variables.$spacer-half;
    }

    &--form {
        background-color: white;
    }
}



// formulář
.form {
	width: 100%;
  text-align: justify;

    &__field {
      margin-bottom: variables.$spacer-half;
      font-size: variables.$font-size-normal;
      position: relative;

      display: flex;
      flex-direction: column-reverse;

      &:hover .form__label,
      &:focus .form__label {
        transform: translateY(-10px);
      }

      &:hover .form__input {
        border-color: variables.$color-first;
      }

      & > .form__input:focus + .form__label {
        transform: translateY(-10px);
      }

      & > .form__input:focus {
        border-color: variables.$color-first;
        outline-style: none;
      }

      & > .form__input:not(:placeholder-shown) + .form__label {
        transform: translateY(-10px);
        }
    }

    &__label {
      display: block;
      width: 100%;

      position: absolute;
      top: 50%;
      right: auto;
      bottom: auto;
      left: 0;

      padding-left: variables.$spacer-half;
      margin-top: -10px;
      text-transform: uppercase;
      color: variables.$color-first;
      font-size: variables.$font-size-small;
      transition: .2s;

      &--textarea {
        top: 13%;
      }
    }

    &__input {
      width: 100%;
      border: 1px solid variables.$color-second;
      padding: 30px 0 10px variables.$spacer-half;
      font-size: variables.$font-size-small;  
    }
}



// mapa
.google-map {
  padding-bottom: 50%;
  position: relative;

  & iframe {
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
  }

  &--big {
    padding-bottom: 60%;
    margin-top: variables.$spacer;

    @media screen and (min-width: 768px){
      padding-bottom: 25%
    }

  }
}



// glide
.glide__slide {
  text-align: center;
}


.glide__card {
  text-decoration: none;
  color: variables.$color-dark;
  display: block;
  padding: variables.$spacer-half;
  height: auto;
  overflow: scroll;

  &:hover {
    transition: 0.3s;
    background-color: variables.$color-second;
  }

  &:hover .article__image {
    box-shadow: 43px 43px 0 -40px variables.$color-light;
    transform: scale(1.05);
  }

}


// glide šipky
.glide__arrow {
  color: variables.$color-second;
  padding:10px;
  border:1px solid variables.$color-second;
  font-weight: 500;


  &:hover {
    background-color: variables.$color-second;
    color: white;
  }
}




