@use "variables";
@use "features";






.footer {
    background-color: variables.$color-first;
    color: white;
    font-size: variables.$font-size-small;
    margin-top: variables.$spacer;

    padding: variables.$spacer variables.$spacer-half;
    text-align: center;

    @media screen and (min-width: 960px){
        padding: variables.$spacer 0;
        text-align: justify;
        margin-top: variables.$spacer-section;
    }



    &__grid {
        @media screen and (min-width: 768px){
            display: grid;
            grid-template-columns: 1.5fr 1fr 3fr;
            grid-auto-flow: dense;
            gap: variables.$spacer;
        }
    }

    &__logo {
        line-height: 0.8;
        color: variables.$color-light;
        margin-top: variables.$spacer-half;

        @media screen and (min-width: 768px){
            margin-top: 0;
        }
    }

    &__text--strong {
        font-weight: 500;
    }


    &__text--a {
        text-decoration: none;
        color: variables.$color-second;

        &:hover {
            color: variables.$color-light;
        }
    }

    &__text--author {
        margin: 0;
        font-size: 12px;
        color: variables.$color-light;
        margin-bottom: variables.$spacer;
    }

    &__column:last-child {
        margin-top: variables.$spacer-half;
        @media screen and (min-width: 768px){
            margin-top: 0;
        }
    }

    &--margin {
        margin-bottom: variables.$spacer;
        @media screen and (min-width: 768px){
            margin-bottom: 0;
        }
    }
}

