@use "variables";
@use "features";



.header {
    height: 30vh;
    margin: 0;
    background-color: rgba(103, 91, 93, 0.221);
    background-image: url(images/ovce-header.jpg);
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: variables.$spacer-half;


    &__item {
        text-transform: uppercase;
        text-decoration: none;
        color: variables.$color-dark;
        padding: variables.$spacer-half;
        transition: 0.3s;
        

        &:hover {
            color: variables.$color-first;
            transform: scale(1.2);
        }
    }
}

.menu-flex {
    display: flex;
}
