@use "variables";


// .produkty {
//     background-color: variables.$color-light;
//     padding: variables.$spacer-section 0;
// }

.section-ofarme__image {
    width: 100%;
}



// kartičky
.cards__grid {
    display: grid;
    gap: variables.$spacer;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    @media screen and (min-width: 768px){
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: variables.$spacer-section variables.$spacer;
    }
}


.card {
    text-align: center;
    position: relative;

    &__image {
        width: 100%;
        border-radius: 50%;
    }

    &__name {
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: variables.$spacer-half 0 0 0;

        &--small {
            font-size: variables.$font-size-small;
            margin: 0;
        }

        &--price {
            // font-size: variables.$font-size-small;
            // font-weight: 500;
            // border: 1px solid variables.$color-second;
            display: inline-block;
            // padding: 10px;
            // border-radius: 50%;
            border-bottom: 1px solid variables.$color-second;
            border-top: 1px solid variables.$color-second;
            // background-color: variables.$color-second;
        }
    }
}






// fancy rámečky kartiček
.border::after {
    content: "";
    border: 1px solid variables.$color-second;
    width: 100%;
    border-radius: 50%;
    display: block;
    position: absolute;
    padding-bottom: 100%;
}

.border--a::after {
    top: 3%;
    left: -3%;
}

.border--b::after {
    top: -3%;
    left: 3%;
}

.border--c::after {
    top: 3%;
    left: 3%;
}