@use "variables";

.intro {
    display: flex;
    gap: variables.$spacer;
    text-align: justify;


    &__image {
        width: 100%;
    }

    &__flex {
        flex-basis: 50%;
    }

    &--reverse {
        flex-direction: row-reverse;
        margin-top: variables.$spacer-section;
    }

}

.intro__image--frame-left {
    box-shadow: -45px -45px 0 -40px variables.$color-second;
}

.intro__image--frame-right {
    box-shadow: 45px 45px 0 -40px variables.$color-second;
}
