@use "variables";

.section-intro__image {
    width: 100%;
}

.frame-left {
    box-shadow: -43px -43px 0 -40px variables.$color-second;
}

.frame-right {
    box-shadow: 43px 43px 0 -40px variables.$color-second;
}
