$font-logo: 'Sacramento', cursive;
$font-main: 'Raleway', sans-serif;

$font-size-small: 14px;
$font-size-normal: 18px;

$spacer: 40px;
$spacer-half: 20px;
$spacer-section: 60px;


$color-first: #A17D89;
$color-second: #F39237;
$color-dark: #393E41;
$color-light: #E0E0E0;
