$font-logo: 'Sacramento', cursive;
$font-main: 'Ubuntu', sans-serif;

$font-size-small: 12px;
$font-size-normal: 16px;

$spacer: 40px;
$spacer-half: 20px;
$spacer-section: 80px;


$color-first: #5C6F68;
$color-second: #C5BBAC;
$color-dark: #031107;
$color-light: #F3F7F8;


// first?
// 6279B8
// 6279B8
// DB5A42