<footer class="footer">
    <div class="footer__grid">
        <div class="footer__column">
            <h3 class="heading-h3">Otevírací doba</h3>
            <p class="footer__text">
                Duben–srpen: 11:00 – 20:00<br>
                Září–březen: 13:00 – 18:00</p>

            <p class="logo footer__logo">Kohoutky</p>
            <p class="footer__text footer__text--author">@Veronika Holá, 2023</p>
        </div>

        <div class="footer__column">
            <h3 class="heading-h3">Kontakt</h3>
            <p class="footer__text">
                <a class="footer__text--a" href="mailto:info@kohoutky.cz">info@kohoutky.cz</a><br>
                +420 773 175 156<br><br>
                <span class="callout">Farma Kohoutky</span><br>
                Ulička 15<br>
                Kohoutovice<br>
                Brno</p>
        </div>
        <div class="footer__column google-map frame-left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2390.711654816616!2d16.529119147622062!3d49.18231635016303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sfarma!5e1!3m2!1sen!2scz!4v1683569155690!5m2!1sen!2scz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</footer>

