<header class="header">
    <nav class="menu">
        <p class="logo menu__logo">Kohoutky</p>
        <div class="menu-flex">
            <a class="menu__item" href="/">Domů</a>
            <a class="menu__item" href="/ofarme/index.html">O farmě</a>
            <a class="menu__item" href="#">Novinky</a>
            <a class="menu__item" href="/kontakt/index.html">Kontakt</a>
            <a class="menu__item" href="#">Produkty</a>
        </div>
      </nav>
</header>