<header class="header">
    <nav class="menu">
        <a class="logo menu__logo" href="/">Kohoutky</a>
        <div class="menu-flex">


            <!-- toto je na hamburger -->
            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
		    <label for="menu-checkbox" class="menu__toggler">☰</label>
            <!-- hamburger -->


            <div class="menu__list">
                <a class="menu__item" href="/">Domů</a>
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'ofarme' }}" href="/ofarme/index.html">O farmě</a>
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'novinky' }}" href="/novinky/index.html">Novinky</a>
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakt' }}" href="/kontakt/index.html">Kontakt</a>
                <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'produkty' }}" href="/produkty/index.html">Produkty</a>
            </div>
        </div>
      </nav>
</header>