<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/glide.core.min.css">
    <link rel="stylesheet" href="/css/glide.theme.min.css">


    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">


  
	
	<meta property="og:title" content="Kohoutky">
	<meta property="og:description" content="Podívejte se na stránky farmy Kohoutky! Jsme malá rodinná farma, která se nachází v krásné přírodě na venkově u Brna, kde jsme se postavili za udržitelný způsob hospodaření. ">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://kohoutky.netlify.app/images/intro1.jpg">
	<meta property="og:url" content="https://kohoutky.netlify.app">

	<meta property="og:locale" content="cs_CZ">
	

	

</head>
<body>
    


<!-- vložení headeru -->
{% include "partials/header.njk" %}



<!-- místo pro obsah -->

    {{ content | safe }}




<!-- vložení footeru -->
{% include "partials/footer.njk" %} 


</body>
</html>
